/* 
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

@import "bootstrap";
@import "font-awesome";

::-webkit-scrollbar {
  display: none;
}

.form-control {
  border: var(--bs-border-width) solid var(--bs-dark);
}

.was-validated .form-control:valid, .form-control.is-valid {
  border-color: var(--bs-form-valid-border-color) !important;
}

.table {
  --bs-table-hover-color: white;
  --bs-table-hover-bg: black;
  margin-bottom: 0;
}

// pagy
.pagy-nav.pagination {
  @extend .justify-content-center;
  position: relative;
  margin: 60px 0 40px;

  .prev, .next, .page {
    @extend .btn-outline-dark;
    padding: 0 0.6em;
  }

  .prev,
  .next {
    font-family: FontAwesome;
    font-size: 1.25rem;
    line-height: 1.3rem;
    padding-right: 1rem;
    padding-left: 1rem;

    &.disabled {
      color: gray;
    }
  }

}

